@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
:root{
    --fonte-principal: 'Fjalla One';
}
.titulo{
    color: moccasin;
    text-align: center;
    font-family: 'Fjalla One';
    font-size: 70px;
}
.cabecalho{
    background-color: peru;
}