@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
:root{
    --fonte-principal: 'Fjalla One';
    --cor-de-fundo: #333a33; 
}
.titulo{
    color: #111111;
    text-align: center;
    font-family: 'Fjalla One';
    font-size: 40px;
}