@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
:root{
    --fonte-principal: 'Fjalla One';
}
.titulo{
    color: #AD795B;
    text-align: center;
    font-family: 'Fjalla One';
    font-size: 70px;
}

.cabecalho{
    background-color: #FFE5B6;
}

.Logo{
    text-align: left;
    padding: 10px 20px;
    width: 300px;
    height: auto;
    font-size: 16px;
    margin: 0 10px;
}

.titulo-secundario{
    color: #AD795B;
    text-align: center;
    font-family: 'Arima';
    font-size: 40px;
}

.container{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.column{
 padding: 20px;
 width: 30%;
 text-align: center;
}